body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.nav-tab {
  float: right;
  margin-right: 15px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.nav-tab:focus {
  outline: 0;
}

.nav-tab .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.nav-tab .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .nav-tab {
    display: none;
  }
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}

.navbar-custom .navbar-brand {
  font-size: 20px;
  text-transform: none;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: #1ba39c;
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.navbar-custom .nav li.active a {
  color: #1ba39c;
}

.navbar-custom .nav li.active a:hover {
  color: #1ba39c;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: 0;
    font-size: 13px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #333;
    background: #fff;
  }
  .navbar-custom.top-nav-collapse a {
    color: #333;
    display: inline-block;
  }
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0 100px 0;
  text-align: center;
  color: rgb(19, 19, 19);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
  padding-top: 10%;
}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 98px;
    margin-top: 90px;
    margin-bottom: 20px;
    border-top: 4px solid rgb(0, 0, 0);
    border-bottom: 4px solid rgb(0, 0, 0);
    display: inline-block;
    padding: 10px 0;
  }
  .intro .intro-body .intro-text {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
  }
}


.bgimg-1{
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../../assets/img/renbg.jpg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}




.jobicon + h5 {
  margin-bottom: 20px;
}

.menu-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.sub-menu {
  background: #fff;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  width: 270px;
  height: 310px;
  padding: 1.5rem;
  text-align: center;
}

.sub-menu:hover {
  box-shadow: 0 1px 20px rgba(104, 104, 104, 0.8);
}

.card-img-top {
  max-height: 150px;
  max-width: 230px;
  min-height: 150px;
  min-width: 230px;
  z-index: 0;
}

@media (max-width: 756px) {
  .sub-menu {
    width: 100%;
    height: 100%;
  }
  .box {
    width: 100%;
  }
}

.btn-solid {
  background:rgb(0, 0, 0)
}